<!-- SamuraiCRM/engines/core/app/views/samurai/admin/admin/index.html.erb -->
<h2 class='pull-left'>Admin</h2>
<ul class="nav nav-pills navbar-right">
<li role="presentation" class="<%= active(admin_path) %>">
<%= link_to 'Dashboard', admin_path %>
</li>
</ul>
<div class='clearfix'></div>
<hr>
<div class="row">
<div class="col-md-6">
<!--Will show tables with the last changes for each model -->
</div>
</div>