<!-- SamuraiCRM/engines/core/app/views/samurai/admin/admin/index.html.erb -->
<h2 class='pull-left'>Admin</h2>
<%= render 'samurai/admin/shared/nav' %>
<hr>
<div class="row">
<div class="col-md-6">
<!--Will show tables with the last changes for each model -->
</div>
</div>