<!DOCTYPE html>
<html>
<head>
<title>Core</title>
<%= stylesheet_link_tag "samurai/application", media: "all" %>
<%= javascript_include_tag "samurai/application" %>
<%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>